<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Events </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Location</th>
                    <th> Description</th>
                    <th> Event Time</th>
                    <th> Completed</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${events.empty}">
                    <td colspan="2"> No Events Available</td>
                </tr>
                <tr th:each="event : ${events}">
                    <td><span th:text="${event.location}"> Location </span></td>
                    <td><span th:text="${event.description}"> Description </span></td>
                    <td><span th:text="${event.startAt}"> Event Time </span></td>
                    <td><span th:text="${event.completed}"> Completed </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>